@charset "UTF-8";
* {
  font-family: sans-serif;
}

header {
  top: 0;
  vertical-align: middle;

}

.nav-link {
  color: white !important;
}

nav.bg-body-tertiary {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: transparent !important;
  width: 61%;
}

.file-input-container {
  position: relative;
  width: 30px; /* Set the desired width of your icon */
  height: 30px; /* Set the desired height of your icon */
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-left: 3%;
  /* Adjust margin as needed */
}

.file-input-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.file-input-container input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.note-container {
  background-color: rgb(79, 79, 79);
  border-radius: 10px;
  padding: 10px;
}

textarea.form-control {
  background-color: rgb(150, 150, 150) !important;
  border: none !important;
}

.form-control {
  border: none !important;
  background-color: rgb(150, 150, 150) !important;
}

.note-content {
  width: 100%;
  margin-bottom: 10px;
}



.button-custom:active {
  transform: scale(0.98);
  box-shadow: 0px 3px 3px 1.2px rgba(0, 0, 0, 0.2) inset;
  transition: transform 0.08s;
}

.note-image {
  max-width: 100%;
  max-height: 200px;
  display: none; /* Hide initially */
  margin-top: 10px;
  border-radius: 10px;
}

.container33 {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  margin-top: -30px;
  margin-left: 3%;
  border-radius: 10px;
  width: 15%;
  height: -moz-max-content;
  height: max-content;
  padding: 1% 2% 1% 2%;
  line-height: 300%;
}

#menu {
  display: flex;
  color: #b2d8b2;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

#a11 {
  right: 0;
  margin-left: 10px;
  padding: 10px 25px 10px 25px;
  text-align: center;
  background-color: #1a3628 !important;
  color: #b2d8b2;
  text-decoration: none;
}

#a1 {
  right: 0;
  margin-left: 10px;
  padding: 10px 25px 10px 25px;
  text-align: center;
  background-color: #2e473b !important;
  color: #b2d8b2;
  text-decoration: none;
}

.klass {
  background-color: #3a5c3a;
  border: 1px solid #263326;
}

nav.bg-light {
  background-color: transparent !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #b2d8b2;
}

.navbar-brand {
  font-family: "Rubik One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #4caf50 33%, #388e3c 56%, #81c784 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 0.5s;
  margin-left: 7%;
}

.navbar-brand:hover {
  font-family: "Rubik One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #81c784 33%, #388e3c 56%, #4caf50 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 0.5s;
}

img {
  width: 450px;
  height: 300px;
}

body {
  background-color: #161616 !important;
}

footer {
  position: absolute;
  background-color: transparent !important;
  min-width: 100%;
}

footer.border-top {
  border: none !important;
}

.text-muted {
  color: #b2d8b2 !important;
}

.nav-link.px-2 {
  color: #b2d8b2;
}

.nav-link:hover {
  color: #99cc99;
}

.container {
  width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: rgba(53, 53, 53, 0.7607843137);
  padding-top: 50px;
  padding-bottom: 120px;
  color: #b2d8b2;
}

.container3 {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  background-color: rgba(13, 38, 16, 0.7607843137);
  padding-top: 50px;
  padding-bottom: 120px;
  color: #b2d8b2;
  text-align: center;
}

.container2 {
  min-width: 50%;
  background-color: rgba(85, 85, 85, 0.651);
  padding-top: 120px;
  padding-bottom: 120px;
}

.container1 {
  text-align: center;
  margin-bottom: auto;
  min-width: 100%;
  min-height: 900px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 200px !important;
}

.h1,
h1 {
  font-family: "Rubik One", sans-serif;
  font-size: 150px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #275c34 7%, #062649 20%, #113964 60%, #2c62b3 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 20px auto;
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 0.5s;
}

.typewriter h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  max-width: 940px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #275c34 20%, #16385c 37%, #16385c 70%, #2c62b3 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 25%;
  top: 300px;
  font-family: monospace;
  margin: 0 auto; /* Centers the h4 element */
  letter-spacing: 0.15em; /* Adjust as needed */
  white-space: pre-wrap; /* Allows text wrapping and preserves whitespace */
}

#typewriter2 h5 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  max-width: 940px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px;
  margin-top: 300px;
}

/* Add a class for the blinking cursor */
.cursor {
  display: inline;
  font-weight: bold;
  color: #99cc99;
  animation: blink-caret 0.5s step-end infinite;
}

@keyframes blink-caret {
  50% {
    color: transparent;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  color: #b2d8b2;
}


.card-body {
  background-color: rgb(34, 34, 34);
  color: bisque !important;
  border-radius: 5px;
  border-color: transparent !important;
}







.navbar-avatar {
  margin-right: 10px;
  height: 40px; /* Высота аватара */
  width: 40px; /* Ширина аватара */
  border-radius: 50%; /* Сделает изображение круглым */
  -o-object-fit: cover;
     object-fit: cover; /* Убедится, что изображение нормально помещается в рамки */
  border: 1px solid #fff; /* Добавляем белую рамку если захотим */
  background-color: #aaa; /* Серый фон для серого кружка */
  display: block; /* Использование блочного отображения */
}

.block {
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  width: 30%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.block1 {
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

/* Remove bullet points from list items */
ul.navbar-nav {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* Additional styling for nav items */
.nav-item {
  display: inline-block; /* Align items horizontally */
}

.nav-link {
  text-decoration: none; /* Remove underline from links */
  color: #b2d8b2; /* Set your desired link color */
}

.nav-link:hover {
  color: #99cc99; /* Set your desired hover color */
}/*# sourceMappingURL=style.css.map */